html, body {margin: 0; height: 100%; overflow: hidden}

p, h1, h2, h3, h4, h5, h6, button {
    font-family: "Roboto", serif;
}


.profile-pic{
    width: 120px;
    height: 120px;
}

.vertical-center {
    margin-top: 10rem;
}

.btn-portfolio{
    background-color: #1D539F;
}

.card-text-align{
    text-align: justify;
}

.img-frame{
    border: 3px solid white;
}
